head {
    background-color: #222;
    color: white;
    width: 100vw;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    
}
body {
  margin: 0; 
  padding: 0;
  background-color: rgb(130, 188, 240);
}

.about {
  background-color: #726b6b; 
  color: white;
  width: 100vw;            
  margin: 0;
  padding: 5px;
  box-sizing: border-box; 
}

